.todo-container {
  position: relative;
  width: 100%;
  height: 100%;
  //   top: 18vh;
  //   background: blue;
  border-radius: 26px;
  // display: flex;

  .header-container {
    width: 100%;
    height: 26%;
    display: flex;

    .todo-header {
      position: relative;
      width: 33.33%;
      height: 100%;
      font-size: 3rem;
      font-weight: 500;

      padding-top: 7.6%;
      padding-left: 1%;

      color: rgba(46, 92, 245, 0.64);
      border: #fff 1.2px solid;
    }

    #todo {
      background: linear-gradient(
        281.95deg,
        rgba(240, 69, 103, 0.342) 14.36%,
        rgba(251, 251, 251, 0) 78.3%
      );
    }

    #progress {
      background: linear-gradient(
        281.95deg,
        rgba(248, 233, 89, 0.342) 14.36%,
        rgba(251, 251, 251, 0) 78.3%
      );
    }

    #completed {
      background: linear-gradient(
        281.95deg,
        rgba(87, 248, 149, 0.342) 14.36%,
        rgba(251, 251, 251, 0) 78.3%
      );
    }

    @media screen and (max-width: 1552px) {
      .todo-header {
        font-size: 2.35rem;
        padding-top: 11%;
        //   padding-left: ;
      }
    }

    @media screen and (max-width: 1300px) {
      .todo-header {
        font-size: 2.25rem;
        padding-top: 12%;
        //   padding-left: ;
      }
    }

    @media screen and (max-width: 1110px) {
      .todo-header {
        font-size: 2rem;
        padding-top: 16%;
        //   padding-left: ;
      }
    }

    @media screen and (max-width: 920px) {
      .todo-header {
        font-size: 1.55rem;
        padding-top: 21%;
        //   padding-left: ;
      }
    }
  }

  .list-container {
    background: green;
    width: 100%;
    height: 74%;
    display: flex;

    ol {
      width: 33.33%;
      background: #fff;
      padding: 2%;
      // margin-left: 3%;

      div {
        border: black solid 2px;
        font-size: 1.5rem;
        margin-bottom: 1vh;
        padding-left: 12%;
        border-radius: 30px;
        display: flex;
        li {
          ::marker {
            color: rgb(255, 157, 0);
            border: 2px black;
          }
        }
      }
    }

    .todo-display {
      background: red;
    }

    .progress-display {
      background: blue;
    }
  }
}
