.glass-container {
  width: 60%;
  height: 72vh;
  position: absolute;
  top: 18vh;
  left: 20%;
  right: 10%;
  background: linear-gradient(
    108.6deg,
    rgba(255, 255, 255, 0.3575),
    rgba(255, 255, 255, 0.0975)
  );
  border: rgba(255, 255, 255, 0.85) solid 1.2px;
  border-radius: 26px;
  backdrop-filter: blur(7px);
  z-index: 5;
  overflow: hidden;
  // display: flex;

  .clear-btn {
    position: relative;
    left: 50%;
    top: -8vh;
  }

  .form {
    position: relative;
    left: 2%;
    top: -8vh;
    // z-index: 2;

    .input-slot {
      position: relative;
      top: -2vh;
      width: 27%;
      height: 40px;
      padding-left: 1.8%;

      font-family: Roboto;
      font-weight: 500;
      font-size: 1.5rem;
      background: none;
      border: #fff 1.2px solid;
      border-radius: 26px;

      &::-webkit-input-placeholder {
        color: rgba(46, 92, 245, 0.64);
        -webkit-transition: color 200ms ease;
        transition: color 200ms ease;
      }

      &:focus {
        outline: none;
        color: rgba(138, 106, 106, 1);

        &::-ms-input-placeholder {
          color: transparent;
          -webkit-transition: color 200ms ease;
          transition: color 200ms ease;
        }
        &::-webkit-input-placeholder {
          color: transparent;
          -webkit-transition: color 200ms ease;
          transition: color 200ms ease;
        }
        &:-moz-input-placeholder {
          color: transparent;
          -webkit-transition: color 200ms ease;
          transition: color 200ms ease;
        }
        &::-webkit-input-placeholder {
          color: transparent;
          -webkit-transition: color 200ms ease;
          transition: color 200ms ease;
        }
      }
    }

    @media screen and (max-width: 1085px) {
      .input-slot {
        font-size: 1.3rem;
      }
    }

    .submit-btn {
      position: relative;
      left: -5.3%;
      top: -1.75vh;
      // left: -2vh;
      width: 55px;
      height: 32px;
      border-radius: 26px;
      box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.25);
      border: none;
      transition: ease-out 150ms;
      z-index: 2;

      &:hover {
        // border-radius: 0;
        box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.45);
        transform: translate(-1px, -1px);
        transition: ease-in 150ms;
      }

      &:active {
        box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.15);
        transition: ease-out 150ms;
      }
      // &:focus {
      //   box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.45);
      // }

      .add {
        position: relative;
        left: 30%;
        width: 24px;
        height: 24px;
        background-image: linear-gradient(
          180deg,
          rgba(46, 92, 245, 0.96) 4.69%,
          rgba(137, 150, 245, 0.85) 100%
        );
        mask-image: url(../images/iconmonstr-plus-2.svg);
        mask-repeat: no-repeat;
        background-size: 24px 24px;
        // border: black solid;
      }
    }

    @media screen and (max-width: 1790px) {
      .submit-btn {
        position: relative;
        left: -6%;
      }
    }

    @media screen and (max-width: 1670px) {
      .submit-btn {
        position: relative;
        left: -6.3%;
      }
    }
    @media screen and (max-width: 1550px) {
      .submit-btn {
        position: relative;
        left: -7%;
      }
    }
    @media screen and (max-width: 1396px) {
      .submit-btn {
        position: relative;
        left: -7.3%;
      }
    }
    @media screen and (max-width: 1300px) {
      .submit-btn {
        position: relative;
        left: -8.2%;
        height: 31px;
      }
    }
    @media screen and (max-width: 1200px) {
      .submit-btn {
        position: relative;
        left: -8.7%;
        height: 31px;
      }
    }
    @media screen and (max-width: 1120px) {
      .submit-btn {
        position: relative;
        top: -1.6vh;
        left: -9.1%;
        height: 31px;
      }
    }
  }
}
