.glass-container {
  width: 70%;
  height: 75vh;
  position: absolute;
  top: 18vh;
  left: 16%;
  right: 10%;
  background: linear-gradient(
    108.6deg,
    rgba(255, 255, 255, 0.3575),
    rgba(255, 255, 255, 0.0975)
  );
  border: rgba(255, 255, 255, 0.85) solid 1.2px;
  border-radius: 26px;
  backdrop-filter: blur(7px);
  z-index: 5;
  overflow: hidden;

  .clear-btn {
    position: relative;
    left: 75%;
    top: -7vh;
    width: 20%;
    height: 8%;
    border-radius: 20px;
    border: none;
    box-shadow: 5px 3px 4px 0px rgba(0, 0, 0, 0.25);
    background: rgba(255, 254, 254, 1);
    color: rgba(46, 92, 245, 0.64);
    font-family: Roboto;
    font-size: 25px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;

    &:hover {
      box-shadow: 5px 4px 3px 0.25px rgba(0, 0, 0, 0.55);
      transform: translate(-1.5px, -1.5px);
      transition: ease-in 150ms;
    }

    &:active {
      box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.15);
      transition: ease-out 150ms;
    }
  }

  .form {
    position: relative;
    left: 2%;
    top: -9.7vh;
    .input-slot {
      position: relative;
      top: -2vh;
      width: 27%;
      height: 40px;
      padding-left: 1.8%;
      font-family: Roboto;
      font-weight: 500;
      font-size: 1.5em;
      background: none;
      border: #fff 1.2px solid;
      border-radius: 26px;

      &::-webkit-input-placeholder {
        color: rgba(46, 92, 245, 0.64);
        -webkit-transition: color 200ms ease;
        transition: color 200ms ease;
      }

      @-moz-document url-prefix() {
        color: rgba(46, 92, 245, 1);
        font-size: 1.5em;
        -webkit-transition: color 200ms ease;
      }

      &:focus {
        outline: none;
        color: rgba(138, 106, 106, 1);

        &::-ms-input-placeholder {
          color: transparent;
          -ms-transition: color 200ms ease;
          transition: color 200ms ease;
        }
        &::-webkit-input-placeholder {
          color: transparent;
          -webkit-transition: color 200ms ease;
          transition: color 200ms ease;
        }
        &:-moz-input-placeholder {
          color: transparent;
          -webkit-transition: color 200ms ease;
          transition: color 200ms ease;
        }
        @-moz-document url-prefix() {
          color: transparent;
          -webkit-transition: color 200ms ease;
          color: rgba(138, 106, 106, 1);
        }
      }
    }

    @media screen and (max-width: 1085px) {
      .input-slot {
        font-size: 1.3rem;
      }
    }

    .submit-btn {
      position: relative;
      left: -4.6%;
      top: -1.95vh;
      width: 55px;
      height: 32px;
      border-radius: 26px;
      background-color: white;
      box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.25);
      border: none;
      // -webkit-transition: ease-out 150ms;
      transition: ease-out 100ms;
      z-index: 2;

      &:hover {
        box-shadow: 5px 4px 3px 0.25px rgba(0, 0, 0, 0.55);
        width: 57px;
        height: 34px;

        transform: translate(-1.5px, -1.5px);
        transition: ease 150ms;
      }

      &:active {
        box-shadow: 3px 3px 2px 0px rgba(0, 0, 0, 0.15);
        transition: ease 250ms;
      }
      .add {
        position: relative;
        left: 30%;
        width: 24px;
        height: 24px;
        background-image: linear-gradient(
          180deg,
          rgba(46, 92, 245, 0.96) 4.69%,
          rgba(137, 150, 245, 0.85) 100%
        );
        mask-image: url(../images/add.svg);
        mask-repeat: no-repeat;
        background-size: 24px 24px;
      }
    }

    @media screen and (max-width: 1790px) {
      .submit-btn {
        position: relative;
        left: -5%;
      }
    }

    @media screen and (max-width: 1670px) {
      .submit-btn {
        position: relative;
        left: -5.3%;
      }
    }
    @media screen and (max-width: 1550px) {
      .submit-btn {
        position: relative;
        left: -5.7%;
      }
    }
    @media screen and (max-width: 1396px) {
      .submit-btn {
        position: relative;
        left: -6.3%;
      }
    }
    @media screen and (max-width: 1300px) {
      .submit-btn {
        position: relative;
        left: -6.8%;
        height: 31px;
      }
    }
    @media screen and (max-width: 1200px) {
      .submit-btn {
        position: relative;
        left: -7.4%;
        height: 31px;
      }
    }
    @media screen and (max-width: 1120px) {
      .submit-btn {
        position: relative;
        top: -1.6vh;
        left: -8.1%;
        height: 31px;
      }
    }
    @media screen and (max-width: 1030px) {
      .submit-btn {
        position: relative;
        top: -1.6vh;
        left: -8.7%;
        height: 31px;
      }
    }
    @media screen and (max-width: 945px) {
      .submit-btn {
        position: relative;
        top: -1.6vh;
        left: -9.8%;
        height: 31px;
      }
    }
  }
}
