.App {
  position: relative;
  text-align: center;
  min-width: 100vh;
  min-height: 100vh;
  background: linear-gradient(107deg, rgba(137, 150, 245, 0.85), rgba(127, 250, 235, 0.85));
  overflow: hidden;
}

.App .bg-square {
  position: absolute;
  width: 70%;
  height: 100%;
  left: -740px;
  top: -150px;
  -webkit-filter: blur(100px);
          filter: blur(100px);
  background: radial-gradient(38% 45% at 50% 50%, #8996f5, rgba(127, 250, 235, 0.85));
  border-right: 50% solid transparent;
  border-left: 50% solid transparent;
  border-bottom: 100% solid transparent;
  border-radius: 30px;
  overflow-x: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
}

.App .bg-circle {
  position: absolute;
  width: 55%;
  height: 115.4%;
  left: 1125px;
  top: 125px;
  border-radius: 100%;
  background: linear-gradient(194deg, #8996f5, rgba(127, 250, 235, 0.85));
  -webkit-filter: blur(80px);
          filter: blur(80px);
}

.App .header-box {
  position: relative;
  width: 45%;
  height: 13vh;
  left: 22%;
  top: 2vh;
  background: #fff;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 39px;
  -webkit-box-shadow: 9px 8px 6px rgba(0, 0, 0, 0.25);
          box-shadow: 9px 8px 6px rgba(0, 0, 0, 0.25);
}

.App .header-box h1 {
  position: relative;
  font-family: "Poppins";
  font-size: 3rem;
  margin-left: 4%;
  background: linear-gradient(262.66deg, #4e4e4e, rgba(84, 96, 94, 0.85));
  background-size: 100%;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.App .glass-circle {
  position: relative;
  left: 13%;
  top: 44vh;
  width: 350px;
  height: 350px;
  border-radius: 100%;
  z-index: 1;
  background: #000;
  background: linear-gradient(108.61deg, rgba(255, 255, 255, 0.5525) -1.6%, rgba(255, 255, 255, 0.202271) 33.23%, rgba(255, 255, 255, 0.0975) 98.88%);
}

.App .glass-rombus {
  position: relative;
  left: 68%;
  top: -42vh;
  width: 300px;
  height: 240px;
  background: linear-gradient(142.03deg, rgba(255, 255, 255, 0.5525) 22.76%, rgba(255, 255, 255, 0.202271) 49.25%, rgba(255, 255, 255, 0.0975) 111.31%);
  -webkit-transform: skewX(-40deg) skewY(10deg) rotate(-20deg);
          transform: skewX(-40deg) skewY(10deg) rotate(-20deg);
  border-radius: 22px 18px;
  z-index: 1;
}

.App .glass-poly {
  position: relative;
  left: 65%;
  top: -9vh;
  z-index: 1;
  width: 250px;
  height: 250px;
  background: linear-gradient(106.22deg, rgba(255, 255, 255, 0.4375) 26.16%, rgba(255, 255, 255, 0.23339) 67.8%, rgba(255, 255, 255, 0.1125) 86.73%);
  -webkit-clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
          clip-path: polygon(50% 0%, 80% 10%, 100% 35%, 100% 70%, 80% 90%, 50% 100%, 20% 90%, 0% 70%, 0% 35%, 20% 10%);
}
/*# sourceMappingURL=App.css.map */